#landing {
    z-index: -3;
    min-height: 100vh;
    position: relative;
    background-image: url('../img/landing-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.landing-text {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card-landing, .card-header-landing {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0px rgba(0, 0, 0, 0) solid !important;
}

@-webkit-keyframes mouse-scroll {
    0% {
        top: 10%;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        top: 30%;
        opacity: 0;
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        top: 10%;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        top: 30%;
        opacity: 0;
    }
}

@-o-keyframes mouse-scroll {
    0% {
        top: 10%;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        top: 30%;
        opacity: 0;
    }
}

@keyframes mouse-scroll {
    0% {
        top: 10%;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        top: 30%;
        opacity: 0;
    }
}

.scroll-msg-container {
    z-index: -1;
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 60px;
    height: 108px;
    margin-top: -54px;
    margin-left: -30px;
    transform: scale(0.5);
    transition: all 200ms ease-in-out;
}

.scroll-msg-container[data-scrolled="true"] {
    bottom: -20%;
}

.scroll-msg-inner {
    width: 52px;
    height: 100px;
    position: relative;
    border-radius: 34px;
    border: 4px solid #fff;
}

.scroll-msg-wheel {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-animation: mouse-scroll 0.9s infinite;
    -moz-animation: mouse-scroll 0.9s infinite;
    -o-animation: mouse-scroll 0.9s infinite;
    animation: mouse-scroll 0.9s infinite;
}

#about, #projects, #contact {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--background-color);
}
