body {
    background-color: var(--background-color) !important;
}

:root {
    --background-color: #1a1a20;
    --foreground-color: #23232b;
    --element-bg: #464652;
    --elements: #ffc107;
    --text-color: #f7f7f5;
}

@font-face {
    font-family: nimbus;
    src: url(../fonts/Nimbus-Sans.ttf);
}

@font-face {
    font-family: gt;
    src: url("../fonts/GT\ America\ Bold.ttf");
}

@font-face {
    font-family: gt-2;
    src: url("../fonts/GT\ America\ Regular.ttf");
}

::-moz-selection {
    color: #000;
    background: #fff;
}

::selection {
    color: #000;
    background: #fff;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #fff;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 4px;
    border: 3px none #fff;
}

.navbar-bg {
    background-color: rgba(0, 0, 0, 0);
    transition: all 250ms ease-in;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(3px);
}

.navbar-bg[data-blur="true"] {
    background-color: #111114;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.459) !important;
}

@media screen and (max-width: 991px) {
    .navbar-bg {
        background-color: #111114;
    }

    .nav-link {
        background-color: #111114 !important;
    }
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }

    .nav-cen {
        display: flex;
        justify-content: center;
    }
}

.nav-link {
    font-family: gt;
    color: #dadada !important;
}

.dropdown-item {
    text-align: center !important;
    color: var(--text-color);
    background-color: transparent !important;
}

.dropdown-menu {
    background-color: #08080abd !important;
    border: 0 #000 solid !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: all 250ms ease-in;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.459) !important;
}

.dropdown-menu[data-blur="true"] {
    background-color: var(--background-color) !important;
}

@media screen and (max-width: 990px) {
    .nav-link {
        text-align: center;
        background-color: var(--background-color);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .dropdown-menu {
        background-color: var(--foreground-color) !important;
    }
}

.active {
    color: var(--elements) !important;
}

.active-1 {
    color: white !important;
}

.text-main {
    font-family: nimbus;
    color: var(--text-color) !important;
}

.text-sub {
    font-family: gt;
    color: var(--text-color) !important;
}

.text-sub-2 {
    font-family: gt-2;
    color: var(--text-color) !important;
}

.card {
    background-color: transparent !important;
}

.card-main {
    border-radius: 4px !important;
    border: 0 !important;
    color: #fff;
    background-color: var(--foreground-color) !important;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 0;
    transition: all 250ms ease-in-out;
}

.card-main:hover {
    position: relative;
    bottom: 5px;
}

.card-header {
    font-family: nimbus;
}

.card-body {
    font-family: gt-2;
}

.btn {
    border: 1px var(--elements) solid !important;
    color: var(--elements) !important;
    font-family: nimbus !important;
}

.btn:hover {
    background-color: var(--elements) !important;
    color: var(--background-color) !important;
}

@-webkit-keyframes mouse-scroll {
    0% {
        top: 10%;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        top: 30%;
        opacity: 0;
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        top: 10%;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        top: 30%;
        opacity: 0;
    }
}

@-o-keyframes mouse-scroll {
    0% {
        top: 10%;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        top: 30%;
        opacity: 0;
    }
}

@keyframes mouse-scroll {
    0% {
        top: 10%;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        top: 30%;
        opacity: 0;
    }
}

.scroll-msg-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 60px;
    height: 108px;
    margin-top: -54px;
    margin-left: -30px;
    transform: scale(0.5);
    transition: all 200ms ease-in-out;
}

.scroll-msg-container[data-scrolled="true"] {
    bottom: -20%;
}

.scroll-msg-inner {
    width: 52px;
    height: 100px;
    position: relative;
    border-radius: 34px;
    border: 4px solid #fff;
}

.scroll-msg-wheel {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-animation: mouse-scroll 0.9s infinite;
    -moz-animation: mouse-scroll 0.9s infinite;
    -o-animation: mouse-scroll 0.9s infinite;
    animation: mouse-scroll 0.9s infinite;
}

footer {
    padding-top: 2rem;
    padding-block: 2rem;
    background-color: #111114;
}

.page-link {
    border: 1px rgba(0, 0, 0, 0.24) solid !important;
    font-size: 20px !important;
    background-color: var(--foreground-color) !important;
    color: var(--text-color) !important;
}

.page-link:hover {
    background-color: var(--elements) !important;
}
