body {
    background-color: var(--background-color) !important;
}

:root {
    --background-color: #08080a;
    --foreground-color: #23232b;
    --element-bg: #464652;
    --elements: #ffc107;
    --text-color: #f7f7f5;
}

@font-face {
    font-family: nimbus;
    src: url(../fonts/Nimbus-Sans.ttf);
}

@font-face {
    font-family: gt;
    src: url("../fonts/GT\ America\ Bold.ttf");
}

@font-face {
    font-family: gt-2;
    src: url("../fonts/GT\ America\ Regular.ttf");
}

::-moz-selection { /* Code for Firefox */
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

::selection {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

* {
    scrollbar-width: auto;
    scrollbar-color: #fff;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 4px;
    border: 3px none #fff;
}

.navbar-bg {
    background-color: rgba(0, 0, 0, 0);
    transition: all 250ms ease-in;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(3px);
}

.navbar-bg[data-blur="true"] {
    background-color: var(--background-color);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.459) !important;
}

@media screen and (max-width: 991px) {
    .navbar-bg {
        background-color: var(--background-color);
    }
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }

    .nav-cen {
        display: flex;
        justify-content: center;
    }
}

.nav-link {
    font-family: gt;
    color: rgb(218, 218, 218) !important;
}

.dropdown-item {
    text-align: center !important;
    color: var(--text-color);
    background-color: transparent !important;
}

.dropdown-menu {
    background-color: #08080abd !important; 
    border: 0px black solid !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); 
    transition: all 250ms ease-in;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.459) !important;
}

.dropdown-menu[data-blur="true"] {
    background-color: var(--background-color) !important;  
}

@media screen and (max-width: 990px) {
    .nav-link {
        text-align: center;
        background-color: var(--background-color);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .dropdown-menu {
        background-color: var(--foreground-color) !important;  
    }
}

.text-main {
    font-family: nimbus;
    color: var(--text-color) !important;
}

.text-sub {
    font-family: gt;
    color: var(--text-color) !important;
}

.text-sub-2 {
    font-family: gt-2;
    color: var(--text-color) !important;
}

.card-main {
    border-radius: 4px !important;
    border: 0px #ffc107 solid !important;
    color: white;
    background-color: transparent !important;
    background-image: radial-gradient(
        circle,
        rgba(217, 158, 48, 0.096) 52%,
        rgba(191, 101, 23, 0.192) 100%
    ) !important;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.card-header {
    font-family: nimbus;
}

.card-body {
    font-family: gt-2;
}

.btn {
    border: 1px var(--elements) solid !important;
    color: var(--elements) !important;
    font-family: nimbus !important;
}

.btn:hover {
    background-color: var(--elements) !important;
    color: var(--background-color) !important;
}

.page-link {
    border: 1px rgba(0, 0, 0, 0.24) solid !important;
    font-size: 20px !important;
    background-color: var(--foreground-color) !important;
    color: var(--text-color) !important;
}

.page-link:hover {
    background-color: #18181f !important;
}