#landing {
  z-index: -3;
  background-image: linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(0,0,0,0.07886904761904767) 60%), url('../img/simpl-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.card-grid {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media screen and (max-width: 767px) {
  #landing {
    background-image: url('../img/simpl-bg.png');
  }

  .landing-text {
    text-align: center;
  }

  .card-grids {
    display: none;
  }
}

.card-grid-auto {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.459);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-grid-1 {
  background-image: url('../img/simplista/card-grid-1.png');
}

.card-grid-2 {
  background-image: url('../img/simplista/card-grid-2.png');
}

.card-grid-3 {
  background-image: url('../img/simplista/card-grid-3.png');
}

.card-grid-4 {
  background-image: url('../img/simplista/card-grid-4.png');
}

.card-grid-5 {
  background-image: url('../img/simplista/card-grid-5.png');
}

.card-grid-6 {
  background-image: url('../img/simplista/card-grid-6.png');
}

#normals, #spec, #models, #pricing {
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--background-color);
}

.normals, .spec, .models {
  background-color: var(--foreground-color);
  border-radius: 4px !important;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.281);
  min-height: 20rem;
}

.info-inner {
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20rem;
}

.spec-1 {
  display: none;
}

@media screen and (max-width: 575px) {
  .spec-1 {
    display: block;
  }
  .spec-2 {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .pricing-cards {
    max-width: 20rem;
  }
}

.pricing-more:hover {
  cursor: pointer;
}

.pricing-cards-more[data-cardhide="true"] {
  display: none;
}

.price-cont {
  background-color: var(--element-bg);
  border-radius: 4px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.041);
}