#landing {
  background-image: linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(0,0,0,0.07886904761904767) 60%), url('../img/simpl-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.card-grid {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media screen and (max-width: 767px) {
  #landing {
    background-image: url('../img/simpl-bg.png');
  }

  .landing-text {
    text-align: center;
  }

  .card-grids {
    display: none;
  }
}

.card-grid-auto {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.459);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-grid-1 {
  background-image: url('../img/card-grid-1.png');
}

.card-grid-2 {
  background-image: url('../img/card-grid-2.png');
}

.card-grid-3 {
  background-image: url('../img/card-grid-3.png');
}

.card-grid-4 {
  background-image: url('../img/card-grid-4.png');
}

.card-grid-5 {
  background-image: url('../img/card-grid-5.png');
}

.card-grid-6 {
  background-image: url('../img/card-grid-6.png');
}