#landing {
    z-index: -3;
    min-height: 100vh;
    position: relative;
    background-image: url(../img/landing-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.landing-text {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card-landing,
.card-header-landing {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0 rgba(0, 0, 0, 0) solid !important;
}

#about,
#projects,
#contact {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--background-color);
}
